#
# RTEMS Tools Project (http://www.rtems.org/)
# Copyright 2010-2014 Chris Johns (chrisj@rtems.org)
# All rights reserved.
#
# This file is part of the RTEMS Tools package in 'rtems-tools'.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# this software is provided by the copyright holders and contributors "as is"
# and any express or implied warranties, including, but not limited to, the
# implied warranties of merchantability and fitness for a particular purpose
# are disclaimed. in no event shall the copyright holder or contributors be
# liable for any direct, indirect, incidental, special, exemplary, or
# consequential damages (including, but not limited to, procurement of
# substitute goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether in
# contract, strict liability, or tort (including negligence or otherwise)
# arising in any way out of the use of this software, even if advised of the
# possibility of such damage.
#

#
# qemu
#
# use a qemu command to run the executable in the qemu simulator.
#

%include %{_configdir}/base.cfg
%include %{_configdir}/checks.cfg

#
# console.
#
%define console_stdio
%include %{_configdir}/console.cfg

#
# rtems version
#
%include %{_rtdir}/rtems/version.cfg

#
# qemu common option patterns.
#
%define qemu_opts_base   -no-reboot -monitor none -serial stdio -nographic
#%define qemu_opts_base   -no-reboot -serial null -serial mon:stdio -nographic
#%define qemu_opts_base  -no-reboot -monitor null -serial stdio -nographic
%define qemu_opts_no_net -net none
#
# qemu executable
#
%ifn %{defined bsp_qemu_opts}
 %define bsp_qemu_opts %{nil}
%endif
%define qemu_cmd  qemu-system-%{bsp_arch}
%define qemu_opts %{bsp_qemu_opts}


#
# Coverage analysis
#
%define coverage_arg %{nil}
%if %{defined _coverage}
    %if %{coverage_supported}
        %define coverage_arg -exec-trace %{test_executable}.cov
    %else
        %error "Coverage analysis unsupported for %{bsp}"
    %endif
%endif

#
# executable
#

#%execute %{qemu_cmd} %{qemu_opts} -kernel %{test_executable}
%execute %{qemu_cmd} %{qemu_opts_base} %{qemu_opts} -kernel %{test_executable} %{coverage_arg}


#%define qemu_opts_base -no-reboot -monitor none -serial stdio -nographic
#%define qemu_opts_base -no-reboot -serial null -serial mon:stdio -nographic
#%define qemu_opts_base -no-reboot -monitor null -serial stdio -nographic
